{% from "card-component/head-element.njk" import header, hover %}
{% from "card-component/visual-elements.njk" import image, video %}
{% from "card-component/text-elements.njk" import summary, ects %}
{% from "card-component/url.njk" import urlStart, urlEnd %}

{% macro card (lo, path) %}
  <div class="uk-card uk-card-default {{ hover(lo) }} uk-card-small uk-text-center uk-animation-scale-up">
    {{ urlStart(lo, path) }}
      {{ header(lo) }}
      {{ video(lo) }}
      {{ image(lo, path) }}
    {{ urlEnd(lo) }}
    {{ summary(lo) }}
    {{ ects(lo) }}
  </div>
{% endmacro %}