{% from "card-component/visual-elements.njk" import icon %}

{% macro header (lo) %}
  <div class="uk-card-header">
    <div uk-grid>
      <div class="uk-width-expand@m">
        <h3> {{ lo.title }}</h3>
      </div>
      <div class="uk-width-1-4@m">
        {{ icon(lo.lotype, "fa-2x") }}
        {% if ((lo.lotype == 'talk') or (lo.lotype == 'github')) and lo.videoid != "none" %}
          {{ icon("film", "fa-2x") }}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro hover (lo) %}
  {% if (not lo.properties.disable) %}
    uk-card-hover
  {% endif %}
{% endmacro %}