{% macro panelvideo (lo) %}

  <div class="uk-card uk-card-default uk-box-shadow-xlarge">
    <div class="uk-card-header">
      <h5 class="uk-card-title"> {{ lo.title }} </h5>
    </div>
    <div class="uk-card-media-top">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ lo.videoid }}"  allow="autoplay; encrypted-media" allowfullscreen uk-responsive></iframe>
    </div>
  </div>
{% endmacro %}