{% from "card-component/head-element.njk" import header, hover %}
{% from "card-component/visual-elements.njk" import image, video %}
{% from "card-component/text-elements.njk" import summary, ects %}
{% from "card-component/url.njk" import urlStart, urlEnd %}

{% macro paneltalk (lo) %}
  <div class="uk-card uk-card-body uk-background-default">
    <h3 class="uk-card-title"> <a href="./{{lo.folder}}/{{lo.link}}"> {{ lo.title }}  </a></h3>
    <hr>
      <input type="hidden" class="inputforfocus">
      <embed id="pdfembed" src="./{{ lo.folder }}/{{ lo.link }}?#toolbar=0&navpanes=1&scrollbar=1" type="application/pdf" width="100%" height="620px"></embed>
  </div>

{% endmacro %}