{% macro ects (lo) %}
  {% if (lo.properties.ects) %}
    <div class="uk-card-footer">
      <div class="uk-badge uk-badge-danger">{{ lo.properties.ects }} Credits</div>
    </div>
  {% endif %}
{% endmacro %}

{% macro summary (lo) %}
  {% if (lo.objectivesWithoutHeader) %}
    <div class="uk-card-footer">
      <p> {{ lo.objectivesWithoutHeader }}</p>
    </div>
  {% endif %}
{% endmacro %}