{% macro urlStart (lo, path) %}
  {% if (not lo.properties.disable) or (lo.course.options.private) %}
    {% if (lo.lotype == "course") and (lo.link) %}
      {% set url = lo.link %}
      {% elif (lo.absoluteLink) %}
      {% set url = lo.link + ' target="_blank"' %}
      {% elif (lo.lotype == "talk") %}
      {% set url = path + '/' + lo.folder + '/' + lo.link + ' target="_blank"' %}
    {% else %}
      {#{% set url = path + '/ '+ lo.folder + '/' + lo.link %}#}
      {% set url = path +  lo.folder + '/' + lo.link %}
    {% endif %}
    <a href={{ url }}>
  {% endif %}
{% endmacro %}

{% macro urlEnd(lo) %}
  {% if (not lo.properties.disable) or (lo.course.options.private) %}
    </a>
  {% endif %}
{% endmacro %}
