{% macro image (lo, path) %}
  <div class="uk-card-body">
    {% if (lo.img) %}
      <img src="{{ path }}{{ lo.folder }}/{{ lo.img }}">
    {% else %}
      <i class="{{ lo.properties.faPanelicon }}"></i>
    {% endif %}
  </div>
{% endmacro %}

{% macro video (lo, path) %}
  {% if (lo.videoid) and (lo.videoid != 'none') %}
    <div class="uk-card-footer">
      <div uk-lightbox>
        <a class="uk-button uk-button-default" href="//www.youtube.com/watch?v={{ lo.videoid }}" data-caption="{{ lo.title }}">Play Video</a>
      </div>
    </div>
  {% endif %}
{% endmacro %}

