{% from "head-component/walls.njk" import walls %}
{% from "head-component/companion.njk" import companion %}
{% from "head-component/home.njk" import home %}
{% from "head-component/title.njk" import title %}

{% macro header(lo, iswall) %}
  <div class="uk-background-muted uk-flex uk-flex-center uk-flex-middle uk-text-center uk-padding-small" uk-grid>
    {{ title(lo) }}
    {{ home(lo, iswall) }}
    {{ companion(lo.properties) }}
    {{ walls(lo) }}
  </div>
{% endmacro %}
