{% from "head-component/iconlink.njk" import iconlink %}

{% macro home(lo, iswall) %}
  {% if iswall %}
     {{ iconlink("index.html", "To the top level Topics for this Module", "fas fa-home fa-4x") }}
  {% elif (lo.lotype == 'topic') %}
    {{ iconlink("../index.html", "To the top level Topics for this Module", "fas fa-home fa-4x") }}
  {% elif (lo.properties.parent) %}
    {{ iconlink(lo.properties.parent, "To the Programme home...", "fas fa-th fa-4x ") }}
  {% endif %}
{% endmacro %}