{% from "head-component/iconlink.njk" import iconlink %}
{% from "styles.njk" import icons, titles %}

{% macro walllinks(walls, prefix) %}
  {% for wall in walls %}
    {% if wall.los.length > 0 %}
      {% set wallName = titles[wall.los[0].lotype] %}
      {{ iconlink(prefix + wall.los[0].lotype + "wall.html", "All " + wallName + "'s in module", icons[wall.los[0].lotype]) }}
    {% endif %}
  {% endfor %}
{% endmacro %}