{% macro properties(lo) %}
  {% if lo.jsonProperties %}
    "properties" : {{ lo.jsonProperties }}
  {% endif %}
{% endmacro %}

{% macro base(lo, url) %}
  {{ properties(lo) }},
  "type" : "{{ lo.lotype }}",
  "title" : "{{ lo.title }}",
  "img" : "https://{{ url }}/{{ lo.img }}",
  {{ video(lo, url) }}
  "summary" : "{{ lo.objectivesMd }}",
  "id": "{{ lo.folder }}",
  {% if lo.lotype == "course" or lo.lotype == "topic"%}
    "route" : "#{{ lo.lotype }}/{{ url }}"
  {% elseif lo.lotype == "talk"  %}
    "pdf" : "https://{{ url }}/{{ lo.link }}",
    "route" : "#{{ lo.lotype }}/{{ url }}/{{ lo.link }}"
  {% elseif lo.lotype == "lab" %}
    "route" : "#{{ lo.lotype }}/{{ url }}"
  {% elseif lo.lotype == "archive" %}
    "route" : "https://{{ url }}/{{ lo.link }}"
  {% elseif lo.lotype == "unit" %}
    "route" : "#topic/{{ url }}"
  {% else %}
    "route" : "{{ lo.link }}"
  {% endif %}
{% endmacro %}

{% macro video(lo, url) %}
  {% if lo.videoid and lo.videoid != "none" %}
{#    "video" : "#video/{{ url }}/{{ lo.videoid }}",#}
    "video" : "https://www.youtube.com/embed/{{ lo.videoid }}",
  {% endif %}
{% endmacro %}

{% macro units(lo, url) %}
  {% if lo.lotype == "unit" %}
    ,"los" : [
    {% for sublo in lo.allLos %} {
      {{ base(sublo, url+'/'+sublo.folder) }}
      } {% if (not loop.last) %},{% endif %}
    {% endfor %} ]
  {% endif %}
{% endmacro %}

{% macro jsonTopic(topic, url) %}
  {{ base(topic, url+topic.folder) }},
  "los": [
  {% for lo in topic.allLos %} {
    {{ base(lo, url+topic.folder+'/'+lo.folder) }}
    {{ units(lo, url+topic.folder+'/'+lo.folder) }}
    } {% if (not loop.last) %},{% endif %}
  {% endfor %} ]
{% endmacro %}

{% block content %}
  {
  {{ base(lo, lo.course.properties.basecourseurl) }},
  "los" : [ {% for topic in lo.los %} {
  {{ jsonTopic(topic, lo.course.properties.basecourseurl) }}
  }{% if (not loop.last) %},{% endif %}
{% endfor %} ]
  }
{% endblock %}
