{% from "head-component/header.njk" import header %}
{% from "layouts/cards.njk" import standardCards %}
{% from "layouts/toc.njk" import toc %}

{% extends "main.html" %}

{% block content %}
  {{ toc(lo) }}
  {{ header(lo) }}
  {{ standardCards(lo.los, false) }}
{% endblock %}