{% from "json/lo-json.njk" import loJson %}

{% block content %}
  {
  {{ loJson(lo) }},
  "topics" : [ {% for lo in lo.los %} {
    "folder" : "{{ lo.folder }}"
  }{% if (not loop.last) %},{% endif %}
{% endfor %} ]
  }
{% endblock %}
