{% from "json/lo-json.njk" import loJson %}

{% block content %}
  {
  {{ loJson(lo) }},
  "topics" : [ {% for lo in lo.los %} {
  "type" : "{{ lo.lotype }}",
  "title" : "{{ lo.title }}",
  "img" : "{{ pre }}{{ lo.folder }}/{{ lo.img }}",
  "videoid" : "{{ lo.videoid }}",
  "objectives" : "{{ lo.objectivesWithoutHeader }}",
  {% if lo.jsonProperties %}
    "properties" : {{ lo.jsonProperties }},
  {% else %}
    "properties" : {},
  {% endif %}
  "folder" : "{{ lo.folder }}",
  "link" : "{{ lo.folder }}/{{ lo.link }}"
  }{% if (not loop.last) %},{% endif %}
{% endfor %} ]
  }
{% endblock %}
