{% extends "main.html" %}
{% block content %}

  <style>
    {% include "css/main.css" %}
    {% include "css/lab.css" %}
  </style>

  <div uk-sticky>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-subnav-left">
        <ul class="uk-background-secondary uk-subnav-pill uk-subnav-divider">
          <li class="uk-active"><a href="../index.html">{{ lo.parent.title }}</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-subnav uk-background-secondary uk-subnav-pill uk-subnav-divider" uk-switcher="connect: .switcher-container">
          {% for chapter in lo.chapters %}
            <li><a href="#">{{ chapter.shortTitle }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  <div class="uk-container uk-container-expand">
    <ul class="uk-switcher switcher-container">
      {% for chapter in lo.chapters %}
        <li> {{ chapter.content }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}