{% from "lab-component/nav-bar.njk" import navBar %}
{% from "lab-component/nav-body.njk" import navBody %}

{% extends "mainlab.html" %}

{% block content %}
  {{ navBar(lo) }}
  {{ navBody(lo) }}
  <br>
  <script>
    {% include "js/lab.js" %}
    {% include "js/main.js" %}
  </script>

{% endblock %}