<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/highlightjs@9.16.2,npm/jquery@3.4.1"></script>
    <style>
      {% include "css/main.css" %}
    </style>
  </head>
  <body class="uk-background-muted">
    <div class="wrapper">
      <div class="content">
        <div style="height:1000px;">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="footer uk-text-small uk-text-right uk-text-muted"> Powered by <a
          href="https://github.com/edeleastar/tutors-ts">tutors-ts.</a>
        {{ lo.properties.license }}
      </div>
    </div>
  </body>
</html>