{% from "head-component/header.njk" import header %}
{% from "card-component/card.njk" import card %}
{% from "layouts/cards.njk" import standardCards %}
{% from "layouts/portfoliotoc.njk" import portfoliotoc %}

{% extends "main.html" %}
{% block content %}
  {{ portfoliotoc(lo) }}
  {{ header(lo) }}
  {% for courseGroup in lo.courseGroups %}
    <h4 class="uk-heading-divider uk-text-center"> {{ courseGroup.title }}</h4>
    {{ standardCards(courseGroup.courses, false) }}
  {% endfor %}
{% endblock %}
