{% from "head-component/header.njk" import header %}
{% from "card-component/card.njk" import card %}

{% extends "main.html" %}
{% block content %}
  {{ header(lo) }}
  <div class="uk-container uk-background-muted">
    {% for courseGroup in lo.courseGroups %}
      <h4 class="uk-heading-divider uk-text-center"> {{ courseGroup.title }}</h4>
      <div class="uk-child-width-1-4@s uk-flex-center" uk-grid uk-height-match="target: > div > .uk-card">
        {% for course in courseGroup.courses %}
          <div>
            {{ card (course, './') }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
