{% set icons = {
  'course'       : 'fas fa-book           fa-2x" style="color:#009688"',
  'topic'        : 'fas fa-sitemap        fa-2x" style="color:#009688"',
  'talk'         : 'fas fa-object-group   fa-2x" style="color:#009688"',
  'lab'          : 'fas fa-flask          fa-2x" style="color:#00BCD4"',
  'panelvideo'   : 'fab fa-youtube        fa-2x" style="color:#F44336"',
  'adobeconnect' : 'far fa-address-card   fa-2x" style="color:grey"',
  'slack'        : 'fab fa-slack          fa-2x" style="color:#573852"',
  'moodle'       : 'fas fa-graduation-cap fa-2x" style="color:#f87f2a"',
  'youtube'      : 'fab fa-youtube-square fa-2x" style="color:red"'
} %}

{% set titles = {
  'talk'      : "slides",
  'lab'       : "labs",
  'panelvideo': "videos"
} %}
