{% set icons = {
  'course'       : 'fal fa-book           fa-2x" style="color:#009688"',
  'topic'        : 'fal fa-sitemap        fa-2x" style="color:#009688"',
  'talk'         : 'fal fa-object-group   fa-2x" style="color:#009688"',
  'reference'    : 'fal fa-object-group   fa-2x" style="color:#009688"',
  'lab'          : 'fal fa-flask          fa-2x" style="color:#00BCD4"',
  'archive'      : 'fal fa-file-archive   fa-2x" style="color:#453F78"',
  'panelvideo'   : 'fab fa-youtube        fa-2x" style="color:#F44336"',
  'video'        : 'fab fa-youtube        fa-2x" style="color:#F44336"',
  'adobeconnect' : 'fal fa-address-card   fa-2x" style="color:grey"',
  'slack'        : 'fab fa-slack          fa-2x" style="color:#573852"',
  'moodle'       : 'fal fa-graduation-cap fa-2x" style="color:#f87f2a"',
  'github'       : 'fal fa-github         fa-2x" style="color:black"',
  'youtube'      : 'fab fa-youtube-square fa-2x" style="color:red"'
} %}

{% set titles = {
  'talk'      : "slides",
  'lab'       : "labs",
  'panelvideo': "videos",
  'archive'   : "archives",
  'github '   : "repos"
} %}
