{% from "partials/header.njk" import header %}
{% from "partials/topiccards.njk" import topiccards %}
{% from "partials/panelvideo.njk" import panelvideo %}
{% from "partials/card.njk" import card %}

{% extends "main.html" %}
{% block content %}

  {{ header(lo) }}

  <div class="uk-container">
    {% for lo in lo.los %}
      {% if lo.lotype == "panelvideo" %}
        {{ panelvideo (lo) }}
        <br>
      {% endif %}
    {% endfor %}

    <div class="uk-child-width-1-4@s uk-flex-center" uk-grid uk-height-match="target: > div > .uk-card">
      {% for lo in lo.los %}
        {% if lo.lotype != "panelvideo" %}
          <div>
            {{ card (lo, './') }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}