{% from "head-component/header.njk" import header %}
{% from "card-component/card.njk" import card %}
{% from "styles.njk" import titles %}
{% from "layouts/cards.njk" import cards %}

{% extends "main.html" %}

{% block content %}
  {% set wallName = titles[lo.los[0].lotype] %}
  {{ header(lo.course, true, "All " + wallName + "'s in Module") }}
  {{ cards(lo.los, true) }}
{% endblock %}