{% from "head-component/header.njk" import header %}
{% from "styles.njk" import titles %}
{% from "layouts/cards.njk" import standardCards %}
{% from "layouts/toc.njk" import toc %}

{% extends "main.html" %}

{% block content %}
  {% set wallName = titles[lo.los[0].lotype] %}
  {{ toc(lo.course) }}
  {{ header(lo.course, true, "All " + wallName + "'s in Module") }}
  {{ standardCards(lo.los, true) }}
{% endblock %}