{% import "partials/wallheader.html" as wallheader %}
{% import "partials/card.html" as card %}

{% set assetprefix = "./assets" %}

{% extends "main.html" %}
{% block content %}

{{ wallheader.wallheader("#", icon, title, "All Labs in the Course", credits) }}

<div class="ui bottom attached segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    {% for resource in labs %}
    <a class="item" href="{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}">
      {{resource.title}}
    </a>
    {% endfor %}
  </div>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic segment">
        <div class="ui four doubling stackable cards">
          {% for resource in labs %}
          {{ card.card (resource.icon,
                         resource.parentFolder + '/' + resource.folder + '/' + resource.link,
                         resource.parentFolder + '/' + resource.folder + '/' + resource.img,
                         resource.title,
                         resource.objectivesWithoutHeader) }}
          {% endfor %}
        </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}}