{% raw %}

code
{
  font-family: "Monaco";
  font-size: 110%;
}

img
{
  padding:1px;
  border:1px solid black;
}

h1
{
  font-style:italic;
  font-size:130%;
  border-bottom:thin solid black;
}

h2
{
  font-size:110%;
  border-bottom: thin solid black;
}

h3
{
  font-size:100%;
  border-bottom: thin solid black;
}

{% endraw %}
