{% macro loJson(lo) %}
  {% if lo.jsonProperties %}
    "properties" : {{ lo.jsonProperties }},
  {% else %}
    "properties" : {},
  {% endif %}
  "type" : "{{ lo.lotype }}",
  "title" : "{{ lo.title }}",
  "img" : "{{ lo.img }}",
  "videoid" : "{{ lo.videoid }}",
  "objectives" : "{{ lo.objectivesWithoutHeader }}",
  "folder" : "{{ lo.folder }}",
  "link" : "{{ lo.link }}",
  "los": [
  {% for sublo in lo.allLos %} {
    {{ loJson(sublo) }}
    } {% if (not loop.last) %},{% endif %}
  {% endfor %} ]
{% endmacro %}
