{% macro loJson(lo, prefix) %}
  {% if prefix %} {% set pre = prefix + '/' %} {% endif %}
  "type" : "{{ lo.lotype }}",
  "title" : "{{ lo.title }}",
  "img" : "{{ lo.img }}",
  "videoid" : "{{ lo.videoid }}",
  "objectives" : "{{ lo.objectivesWithoutHeader }}",
    {% if lo.jsonProperties %}
      "properties" : {{ lo.jsonProperties }},
    {% else %}
      "properties" : {},
    {% endif %}
    {% if prefix %}
      "folder" : "{{ prefix }}/{{ lo.folder }}",
    {% else %}
      "folder" : "{{ lo.folder }}",
    {% endif %}
    {% if lo.absoluteLink == true %}
      "link" : "{{ lo.link }}",
    {% else %}
      "link" : "{{ lo.link }}",
    {% endif %}
  "los": [
    {% for sublo in lo.allLos %} {
      {% if sublo.parent.lotype == 'unit' %}
        {{ loJson(sublo) }}
      {% else %}
        {{ loJson(sublo) }}
      {% endif %}
    } {% if (not loop.last) %},{% endif %}
  {% endfor %} ]
{% endmacro %}
