{% from "card-component/visual-elements.njk" import icon %}

{% macro toc(lo) %}
  <div class="uk-offcanvas-content">
    <div id="offcanvas-usage" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        {% for topic in lo.los %}
          {% if (not topic.properties.disable) %}
            <ul class="uk-nav">
              <li class="uk-parent">
                <a class="item" href="{{ lo.properties.courseurl }}/{{ topic.folder }}/{{ topic.link }}">
                  {{icon(topic.lotype)}}{{ topic.title }}
                </a>
                <ul class="uk-nav-sub">
                  {% for resource in topic.los %}
                    <li>
                      {% if resource.lotype == 'panelvideo' %}
                        <a class="item" href="http://www.youtube.com/watch?v={{ resource.videoid }}">{{icon('panelvideo')}}{{resource.title}}</a>
                      {% else %}
                      <a class="item"
                         href="{{ lo.properties.courseurl }}/{{ topic.folder }}/{{ resource.folder }}/{{ resource.link }}">{{icon(resource.lotype)}}{{resource.title}}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}