<div class="container">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11">
      <iframe id="output" style="width: 100%;" frameborder="0" height="1200">
      </iframe>
    </div>
  </div>
</div>
<script>

  $.ajax({
    type: 'GET',
    url: '{{lo.topicUrl}}/indexmoodle.html',
    xhrFields: {
      withCredentials: false
    },
    success: function (data) {
      $('#output').contents().find('html').html(data);
    }
  });

</script>