{% from "partials/card.njk" import card %}
{% from "partials/videocard.njk" import videocard %}

{% extends "mainmoodle.html" %}
{% block content %}

<div class="ui centered four doubling stackable cards">
  {% for resource in lo.los %}
    {% if resource.lotype == 'video' %}
      {{ videocard (resource, lo.url) }}
    {% else %}
      {{ card (resource, lo.url + lo.folder + '/') }}
    {% endif %}
  {% endfor %}
{% endblock %}}
