{% set assetprefix = "../../assets" %}
{% from "headelements/gitterbadge.njk" import gitterbadge %}
{% extends "main.html" %}

{% block content %}

<style>
  {% include "css/lab.css" %}
</style>

<div class="ui fixed top pointing inverted stackable menu labmenu">
  <header class="header item">
    <i id="toc" class="sitemap icon"></i>
    <a href="../index.html">
      {{lo.parent.title}}
    </a>
  </header>
  <div class="right tab-menu menu">
    {% for chapter in lo.chapters %}
    <a class="item" data-tab="{{chapter.shortTitle}}">
      {{chapter.shortTitle}}
    </a>
    {% endfor %}
    <div class="item">
      {% if gitterid %}
      {{ gitterbadge(lo.gitterid) }}
      {% endif %}
    </div>
  </div>
</div>

<div class="ui segment pushable" >

  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    {% for resource in lo.course.labs %}
      {% if resource.title == title %}
        <a class="active item" href="../../{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}">
          {{resource.title}}
        </a>
      {% else %}
        <a class="item" href="../../{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}">
          {{resource.title}}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="pusher" tabindex="-1">
    <div class="ui basic segment" id="labchat">
      <br>
      {% for chapter in lo.chapters %}
      <div  class="ui tab segment lab" data-tab="{{chapter.shortTitle}}">
        {{ chapter.content }}
      </div>
     {% endfor %}
    </div>

  </div>

</div>
<!--{% include "partials/labcredits.njk" %}-->

<script>
  {% include "js/lab.js" %}
</script>


{% endblock %}