{% import "partials/portfolioheader.html" as header %}
{% import "partials/card.html" as card %}
{% import "partials/gittersidecar.html" as gittersidecar %}
{% import "partials/topiccards.html" as topiccards %}

{% extends "main.html" %}
{% block content %}

{{ header.header("#", "", title, subtitle, credits, gitterid) }}

{% for courseGroup in courseGroups %}
<div class="ui raised stackable segment container">
  <a class="ui blue left ribbon large label">{{courseGroup.title}}</a>

  {% if courseGroup.description %}
    <div class="ui segment">
      {{courseGroup.description}}
      {{ topiccards.topiccards ("Slides & Presentations", talks) }}
    </div>
  {% endif %}

  <div class="ui centered four stackable cards">
    {% for course in courseGroup.courses %}
    {{ card.card ("huge grid layout", "./" + course.folder + "/index.html", "./" + course.folder + "/" + course.img,
    course.title, course.objectivesWithoutHeader, course.credits) }}
    {% endfor %}
  </div>
</div>
{% endfor %}

{{ gittersidecar.gittersidecar(gitterid) }}

{% endblock %}
