{% from "headelements/header.njk" import header %}
{% from "partials/card.njk" import card %}

{% extends "main.html" %}
{% block content %}

  {{ header(lo) }}

  {% for courseGroup in lo.courseGroups %}
    <div class="ui raised stackable segment container">
      <a class="ui blue left ribbon large label">{{ courseGroup.title }}</a>
      {% if courseGroup.description %}
        <div class="ui middle aligned center aligned two column centered stackable grid">
          <div class="ui column basic segment">
            {{ courseGroup.description }}
          </div>
          {% if lo.los.length > 0 %}
            <div class="ui column centered cards basic segment">
              {% for resource in lo.los %}
                {{ card (resource, resource.folder + '/') }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="ui centered four stackable cards">
        {% for course in courseGroup.courses %}
          {{ card (course, "./" + course.folder) }}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

{% endblock %}
