{% from "partials/header.njk" import header %}
{% from "partials/topiccards.njk" import topiccards %}
{% from "partials/panelvideo.njk" import panelvideo %}

{% set assetprefix = "../assets" %}

{% extends "main.html" %}
{% block content %}

  {{ header(lo) }}

  <div class="ui pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <div class="header">
        <a class="item" href="#">
          {{ title }}
        </a>
      </div>
      <div class="menu">
        {% for resource in lo.los %}
          <a class="item" href="{{ resource.folder }}/{{ resource.link }}">
            {{ resource.title }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="pusher">
      <br>
      {% for lo in lo.los %}
        {% if lo.lotype == "panelvideo" %}
          {{ panelvideo (lo) }}
        {%  endif %}
      {% endfor %}
      {% for los in lo.losByType %}
        {{ topiccards (los) }}
      {% endfor %}
    </div>
    <br>
  </div>

{% endblock %}