{% from "partials/header.njk" import header %}
{% from "partials/topiccards.njk" import topiccards %}

{% set assetprefix = "../assets" %}

{% extends "main.html" %}
{% block content %}

  {{ header(lo) }}

  <div class="ui segment pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <div class="header">
        <a class="item" href="#">
          {{ title }}
        </a>
      </div>
      <div class="menu">
        {% for resource in lo.los %}
          <a class="item" href="{{ resource.folder }}/{{ resource.link }}">
            {{ resource.title }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="pusher">
      <div class="ui basic container segment">
        {{ topiccards (lo.videos) }}
        {{ topiccards (lo.talks) }}
        {{ topiccards (lo.labs) }}
        {{ topiccards (lo.archives) }}
        {{ topiccards (lo.topics) }}
      </div>
    </div>
  </div>

{% endblock %}