{% import "headelements/header.html" as header %}
{% import "partials/topiccards.html" as topiccards %}

{% set assetprefix = "../assets" %}

{% extends "main.html" %}
{% block content %}

{{ header.header(lo) }}

<div class="ui segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    <div class="header">
      <a class="item" href="#">
        {{title}}
      </a>
    </div>
    <div class="menu">
      {% for resource in lo.los %}
      <a class="item" href="{{resource.folder}}/{{resource.link}}">
        {{resource.title}}
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="pusher">
    <div class="ui basic container segment">
      {{ topiccards.topiccards ("Videos", lo.videos) }}
      {{ topiccards.topiccards ("Slides & Presentations", lo.talks) }}
      {{ topiccards.topiccards ("Labs & Repos", lo.labs) }}
      {{ topiccards.topiccards ("Archives", lo.archives) }}
      {{ topiccards.topiccards ("Sub Topics", lo.topics) }}
    </div>
  </div>
</div>

{% endblock %}