{% import "partials/wallheader.html" as wallheader %}
{% import "partials/card.html" as card %}
{% import "partials/header.html" as header %}

{% set assetprefix = "./assets" %}

{% extends "main.html" %}
{% block content %}

{{ wallheader.wallheader("#", icon, title, "", credits, "", gitterid) }}

<div class="ui bottom attached segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    {% for resource in resources %}
    <a class="item" href="{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}">
      {{resource.title}}
    </a>
    {% endfor %}
  </div>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic segment">
        <div class="ui centered four doubling stackable cards">
          {% for resource in resources %}
            {% if resource.parent.subtopic %}
              {{ card.card (resource.icon,
                  resource.parent.parentFolder + '/' + resource.parentFolder + '/' + resource.folder + '/' +resource.link,
                  resource.parent.parentFolder + '/' + resource.parentFolder + '/' + resource.folder + '/' + resource.img,
                  resource.title,
                  resource.objectivesWithoutHeader) }}
            {% else %}
              {{ card.card (resource.icon,
                   resource.parentFolder + '/' + resource.folder + '/' + resource.link,
                   resource.parentFolder + '/' + resource.folder + '/' + resource.img,
                   resource.title,
                   resource.objectivesWithoutHeader) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}}