{% import "headelements/header.html" as header %}
{% import "partials/card.html" as card %}
{% import "partials/videocard.html" as videocard %}

{% set assetprefix = "./assets" %}

{% extends "main.html" %}
{% block content %}

{{ header.header(lo, true) }}

<div class="ui bottom attached segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    {% for resource in lo.resources %}
    <a class="item" href="{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}">
      {{resource.title}}
    </a>
    {% endfor %}
  </div>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic segment">
        <div class="ui centered four doubling stackable cards">
          {% for resource in lo.resources %}
            {% if (resource.lotype == 'video') %}
              {{ videocard.videocard (resource.icon, resource.videoid, resource.title, resource.objectivesWithoutHeader) }}
            {% elif (resource.parent.lotype == 'topic') and (resource.parent.parent.lotype == 'topic') %}
              {{ card.card (resource.icon,
                  resource.parent.parentFolder + '/' + resource.parentFolder + '/' + resource.folder + '/' +resource.link,
                  resource.parent.parentFolder + '/' + resource.parentFolder + '/' + resource.folder + '/' + resource.img,
                  resource.title,
                  resource.objectivesWithoutHeader) }}
            {% else %}
              {{ card.card (resource.icon,
                   resource.parentFolder + '/' + resource.folder + '/' + resource.link,
                   resource.parentFolder + '/' + resource.folder + '/' + resource.img,
                   resource.title,
                   resource.objectivesWithoutHeader) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}}