{% macro card (lo, path) %}

  {% if (lo.lotype == "course") and (lo.link) %}
    {% set url = lo.link %}
    {% elif (lo.absoluteLink) %}
    {% set url = lo.link + ' target="_blank"' %}
    {% elif (lo.lotype == "talk") %}
    {% set url = path+'/'+lo.folder+'/'+lo.link+ ' target="_blank"' %}
  {% else %}
    {% set url = path+'/'+lo.folder+'/'+lo.link %}
  {% endif %}
  {%  if (not lo.properties.disable) %}
    {% set hover =  "uk-card-hover"%}
  {% endif %}

  <div class="uk-card uk-card-default {{ hover }} uk-card-small uk-text-center">
    {% if (not lo.properties.disable) %}
      <a href={{ url }}>
    {% endif %}
      <div class="uk-card-header">
        <div uk-grid>
          <div class="uk-width-expand@m">
            <h3> {{ lo.title }}</h3>
          </div>
          <div class="uk-width-1-4@m">
            <i class="{% if ((lo.lotype == "course") and (lo.properties.faIcon)) %} {{ lo.properties.faIcon }} {% else %} {{ lo.faIcon }} {% endif %} fa-2x" style="color:grey"></i>
          </div>
        </div>
      </div>
      {% if (lo.videoid) and (lo.videoid != 'none') %}
        <div class="uk-card-media">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ lo.videoid }}" allow="autoplay; encrypted-media" allowfullscreen uk-responsive></iframe>
        </div>
      {% endif %}
      <div class="uk-card-body">
        {% if (lo.img) %}
          <img src="{{ path }}{{ lo.folder }}/{{ lo.img }}">
        {% else %}
          <i class="{{ lo.properties.faPanelicon }}"></i>
        {% endif %}
      </div>
    {% if (not lo.properties.disable) %}
      </a>
    {% endif %}

    <div class="uk-card-footer">
      <p> {{ lo.objectivesWithoutHeader }}</p>
    </div>

    {% if (lo.properties.ects) %}
      <div class="uk-card-footer">
        <div class="uk-badge uk-badge-danger">{{ lo.properties.ects }} Credits</div>
      </div>
    {% endif %}
  </div>

{% endmacro %}