{% macro card (lo, path) %}

  <div class="uk-card uk-card-default  uk-card-hover uk-card-small uk-text-center">
    <a href=
       {% if (lo.lotype == "course") and (lo.properties.disable) %}
       "#">
      {% elif (lo.lotype == "course") and (lo.link) %}
      "{{ lo.link }}">
      {% elif (lo.absoluteLink) %}
      "{{ lo.link }}" target="_blank">
      {% elif (lo.lotype == "talk") %}
      "{{ path }}{{ lo.folder }}/{{ lo.link }}" target="_blank">
      {% else %}
        "{{ path }}{{ lo.folder }}/{{ lo.link }}">
      {% endif %}
      <div class="uk-card-header">
        <h4 class="uk-card-title"> {{ lo.title }}</h4>
      </div>
      <div class="uk-card-media-top">
        <img src="{{ path }}{{ lo.folder }}/{{ lo.img }}">
      </div>
    </a>
    <div class="uk-card-body">
      <p> {{ lo.objectivesWithoutHeader }}</p>
    </div>
  </div>

{% endmacro %}
