{% from "head-component/walllinks.njk" import walllinks %}
{% from "head-component/topics.njk" import topics %}
{% from "head-component/programmelink.njk" import programmelink %}
{% from "head-component/companionlinks.njk" import companionlinks %}

{% macro header(lo, iswall) %}
  <div class="uk-section uk-section-muted uk-padding-remove-vertical uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-2-5@m">
      <h2> {{ lo.title }} </h2>
      <div class="uk-text-muted uk-text-small">
        {{ lo.properties.credits }}
      </div>
    </div>
    <div class="panel uk-width-expand@m">
      {% if iswall %}
        {{ topics ("index.html") }}
        {% elif (lo.lotype == 'topic') %}
        {{ topics ("../index.html") }}
        {% elif (lo.properties.parent) %}
        {{ programmelink (lo.properties.parent, "Programme") }}
      {% endif %}
    </div>
    <div class="panel uk-width-expand@m">
      {{ companionlinks(lo.properties) }}
    </div>
    <div class="panel uk-width-expand@m">
      {% if (lo.lotype == 'course') and (lo.properties.walllinks != 'off') %}
        {{ walllinks (lo.course.walls, "./") }}
      {% endif %}
      {% if (lo.lotype == 'topic') %}
        {{ walllinks (lo.course.walls, "../") }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
