<div class="ui bottom fixed borderless right menu">
  <div class="ui right tiny menu">
    <div class="ui mini message segment">
      {{ credits }}.
      <a href="http://creativecommons.org/licenses/by-nc/4.0/"
         title="External link to http://creativecommons.org/licenses/by-nc/4.0/"
         target="_blank">Creative Commons License
      </a>
    </div>
  </div>
</div>