{% macro panelvideo (lo) %}

  <div class="uk-grid">
    <div>
      <iframe src="https://www.youtube.com/embed/{{lo.videoid}}?autoplay=0&amp;showinfo=1&amp;rel=0&amp;modestbranding=1&amp;playsinline=0"  height="512"
              frameborder="0"
              allowfullscreen uk-responsive uk-video="automute: true"></iframe>
    </div>
  </div>
{% endmacro %}