{% from "partials/card.njk" import card %}
{% from "partials/videocard.njk" import videocard %}

{% macro topiccards(los) %}
  {% if los.length > 0 %}
    {% for resource in los %}
      {% if resource.lotype == 'video' %}
        {{ videocard (resource) }}
      {% else %}
        {{ card (resource, "./") }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
