{% from "headelements/gitterbadge.njk" import gitterbadge %}

{% macro card (lo, path) %}

<div class="ui {% if (lo.properties.disable != true) %} raised link {% endif %} card">


  <div class="center aligned content">
    <div class="right floated meta"><i class="huge {% if ((lo.lotype == "course") and (lo.properties.icon)) %} {{ lo.properties.icon }} {% else %} {{ lo.icon }} {% endif %}
    icon"></i></div>
    <div class="header"> {{ lo.title }}</div>

  </div>

  <a href=
  {% if (lo.lotype == "course") and (lo.properties.disable) %}
    "#">
    {% elif (lo.lotype == "course") and (lo.link) %}
    "{{ lo.link }}">
    {% elif (lo.absoluteLink) %}
    "{{ lo.link }}" target="_blank">
    {% elif (lo.lotype == "talk") %}
    "{{ path }}{{ lo.folder }}/{{ lo.link }}" target="_blank">
  {% else %}
    "{{ path }}{{ lo.folder }}/{{ lo.link }}">
  {% endif %}

    <div class="image">
      <img class="ui bordered rounded image" src="{{ path }}{{ lo.folder }}/{{ lo.img }}">
    </div>
    </a>

    <div class="center aligned content">
      <div class="description">
        {{ lo.objectivesWithoutHeader }}
      </div>
    </div>
    {% if (lo.videoid) and (lo.videoid != 'none') %}
      <div class="extra content center aligned">
        <div class="ui segment">
          <div class="ui embed" data-source="youtube" data-id="{{ lo.videoid }}"></div>
        </div>
        <a href="https://youtu.be/{{ lo.videoid }}" target="_blank"> video link</a>
      </div>
    {% endif %}

    {% if (lo.properties.ects) %}
      <div class="extra content center aligned">
        <div class="ui grey circular label">{{ lo.properties.ects }} Credits</div>
      </div>
    {% endif %}

    </div>
    {% endmacro %}