{% from "headelements/gittersidecar.njk" import gittersidecar %}
{% from "headelements/walllinks.njk" import walllinks %}
{% from "headelements/topics.njk" import topics %}
{% from "headelements/portfoliolink.njk" import portfoliolink %}
{% from "headelements/programmelink.njk" import programmelink %}
{% from "headelements/creditsmsg.njk" import creditsmsg %}
{% from "headelements/subtopics.njk" import subtopics %}
{% from "headelements/sidebarlink.njk" import sidebarlink %}
{% from "headelements/companionlinks.njk" import companionlinks %}

{% macro header(lo, iswall) %}
<header class="ui center aligned middle aligned stackable grid segment">

  {% if lo.lotype != 'portfolio' %}
    {{ sidebarlink() }}
  {% endif %}

  <div class="ui six wide column">
    <h2> {{ lo.title }} </h2>
    <div class="ui tiny blue label">
      {{ lo.properties.credits }}
    </div>
  </div>

  <div class="ui two wide column">
    {% if iswall %}
      {{ topics ("index.html") }}
    {% elif (lo.lotype == 'topic') %}
      {{ topics ("../index.html") }}
    {% elif (lo.properties.parent) %}
      {{ programmelink (lo.properties.parent, "Programme") }}
    {% elif (lo.lotype == 'topic') and (lo.parent.lotype == 'topic') %}
      {{ subtopics ("../index.html") }}
    {% endif %}
  </div>

  <div class="three wide column">
    {{ companionlinks(lo.properties) }}
  </div>

  <div class="three wide column">
    {% if (lo.lotype == 'course') %}
      {{ walllinks (lo.course.walls) }}
    {% endif %}
    {% if (lo.lotype == 'topic') %}
      {{ walllinks (lo.course.walls, "../") }}
    {% endif %}
  </div>

</header>
{{ gittersidecar(lo.properties.gitter) }}
{% endmacro %}
