{% from "head-component/gittersidecar.njk" import gittersidecar %}
{% from "head-component/walllinks.njk" import walllinks %}
{% from "head-component/topics.njk" import topics %}
{% from "head-component/portfoliolink.njk" import portfoliolink %}
{% from "head-component/programmelink.njk" import programmelink %}
{% from "head-component/creditsmsg.njk" import creditsmsg %}
{% from "head-component/subtopics.njk" import subtopics %}
{% from "head-component/sidebarlink.njk" import sidebarlink %}
{% from "head-component/companionlinks.njk" import companionlinks %}

{% macro header(lo, iswall) %}
<header class="ui center aligned middle aligned stackable grid segment">

  {% if lo.lotype != 'portfolio' %}
    {{ sidebarlink() }}
  {% endif %}

  <div class="two wide column">
    <i class="huge {{ lo.properties.courseicon }} icon"></i></a>
  </div>


  <div class="ui six wide column">
    <h2> {{ lo.title }} </h2>
    <div class="ui tiny blue label">
      {{ lo.properties.credits }}
    </div>
  </div>

  <div class="ui two wide column">
    {% if iswall %}
      {{ topics ("index.html") }}
    {% elif (lo.lotype == 'topic') %}
      {{ topics ("../index.html") }}
    {% elif (lo.properties.parent) %}
      {{ programmelink (lo.properties.parent, "Programme") }}
    {% elif (lo.lotype == 'topic') and (lo.parent.lotype == 'topic') %}
      {{ subtopics ("../index.html") }}
    {% endif %}
  </div>


    {{ companionlinks(lo.properties) }}


  <div class="three wide column">
    {% if (lo.lotype == 'course') and (lo.properties.walllinks != 'off') %}
      {{ walllinks (lo.course.walls) }}
    {% endif %}
    {% if (lo.lotype == 'topic') %}
      {{ walllinks (lo.course.walls, "../") }}
    {% endif %}
  </div>

</header>
{{ gittersidecar(lo.properties.gitter) }}
{% endmacro %}
