{% macro topiccards(title, los) %}

{% import "partials/card.html" as card %}
{% import "partials/videocard.html" as videocard %}

{% if los.length > 0 %}

<section class="ui attached segment">
  <div class="ui centered four doubling stackable cards">
    {% for resource in los %}
      {% if resource.lotype == 'video' %}
        {{ videocard.videocard (resource.icon, resource.videoid, resource.title, resource.objectivesWithoutHeader) }}
      {% elif resource.absoluteLink %}
        {{ card.card (resource.icon,
             resource.link,
             resource.folder + '/' + resource.img, resource.title,
             resource.objectivesWithoutHeader) }}
      {% else %}
        {{ card.card (resource.icon,
             resource.folder + '/' + resource.link,
             resource.folder + '/' + resource.img, resource.title,
             resource.objectivesWithoutHeader) }}
      {% endif %}
    {% endfor %}
  </div>
</section>

{% endif %}
{% endmacro %}
