{% from "partials/card.njk" import card %}
{% from "partials/videocard.njk" import videocard %}

{% macro topiccards(los) %}
  {% if los.length > 0 %}
    <section class="ui attached segment">
      <a class="ui right ribbon label">{{ los[0].lotype }}s</a>
      <div class="ui centered four doubling stackable cards">
        {% for resource in los %}
          {% if resource.lotype == 'video' %}
            {{ videocard (resource) }}
          {% else %}
            {{ card (resource) }}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endmacro %}
