{% macro videocard (lo) %}
  <div class="ui raised link card">
    <div class="ui center aligned content">
      <div class="right floated meta"><i class="{{lo.icon}} icon"></i></div>
      <div class="header"> {{lo.title}}</div>
    </div>
    <div class="ui segment">
      <div class="ui embed" data-source="youtube" data-id="{{lo.videoid}}"></div>
    </div>
    <div class="center aligned content">
      <div class="description">
        {{lo.objectivesWithoutHeadder}}
      </div>
    </div>
    <div class="extra content center aligned">
      <a href="https://youtu.be/{{lo.videoid}}" target="_blank"> video link</a>
    </div>
  </div>
{% endmacro %}