{% macro videocard (type, videoid, title, objectives) %}
  <div class="ui raised link card">
    <div class="ui center aligned content">
      <div class="right floated meta"><i class="{{type}} icon"></i></div>
      <div class="header"> {{title}}</div>
    </div>
    <div class="ui segment">
      <div class="ui embed" data-source="youtube" data-id="{{videoid}}"></div>
    </div>
    <div class="center aligned content">
      <div class="description">
        {{objectives}}
      </div>
    </div>
    <div class="extra content center aligned">
      <a href="https://youtu.be/{{videoid}}" target="_blank"> video link</a>
    </div>
  </div>
{% endmacro %}