{% from "partials/iconlink.njk" import iconlink %}

{% macro companionlinks(properties) %}
  {% set icons = {
    'adobeconnect' : "far fa-address-card   fa-2x",
    'slack'        : "fab fa-slack          fa-2x",
    'moodle'       : "fas fa-graduation-cap fa-2x",
    'youtube'      : "fab fa-youtube        fa-2x"
  } %}
  {% if properties.adobeconnect or properties.moodle or properties.slack %}
    <ul class="uk-iconnav">
      {% if properties.adobeconnect %}
        {{ iconlink (properties.adobeconnect, "To Adobe connect ...", icons["adobeconnect"], "grey") }}
      {% endif %}
      {% if properties.moodle %}
        {{ iconlink (properties.moodle, "To Moodle ...", icons["moodle"], "#f87f2a")}}
      {% endif %}
      {% if properties.slack %}
        {{ iconlink (properties.slack, "To Slack Channel ...", icons["slack"], "#573852") }}
      {% endif %}
      {% if properties.youtube %}
        {{ iconlink (properties.youtube, "To Youtube Channel ...", icons["youtube"], "red") }}
      {% endif %}    </ul>
  {% endif %}
{% endmacro %}