{% from "partials/iconlink.njk" import iconlink %}

{% macro walllinks(walls, prefix) %}
  {% set icons = {
    'talk'      : "fas fa-object-group fa-2x",
    'lab'       : "fas fa-flask        fa-2x",
    'panelvideo': "fab fa-youtube      fa-2x"
  } %}
  {% set titles = {
    'talk'      : "slides",
    'lab'       : "labs",
    'panelvideo': "videos"
  } %}
  <ul class="uk-iconnav">
    {% for wall in walls %}
      {% if wall.los.length > 0 %}
        {% set wallName = titles[wall.los[0].lotype] %}
        {{ iconlink(prefix + wall.los[0].lotype + "wall.html", "All " + wallName + "'s in module", icons[wall.los[0].lotype]) }}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}