{% macro companionlinks(properties) %}
  {% if properties.adobeconnect or properties.moodle or properties.slack %}
    <div class="ui equal width center aligned grid segment">
      {% if properties.adobeconnect %}
        <div class="column">
          <div class="popup" data-content="To Adobe connect ...">
            <a href="{{ properties.adobeconnect }}" target="_blank"> <i class="big address card outline icon"></i>
            </a>
          </div>
        </div>
      {% endif %}
      {% if properties.moodle %}
        <div class="column">
          <div class="popup" data-content="To Moodle ...">
            <a href="{{ properties.moodle }}" target="_blank"> <i class="big student icon"></i></a>
          </div>
        </div>
      {% endif %}
      {% if properties.slack %}
        <div class="column">
          <div class="popup" data-content="To Slack Channel ...">
            <a href="{{ properties.slack }}" target="_blank"> <i class="big slack icon"></i></a>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}