{% macro header(lo, iswall) %}

{% import "partials/gittersidecar.html" as gittersidecar %}
{% import "headelements/walllinks.html" as walllinks %}
{% import "headelements/topics.html" as topics %}
{% import "headelements/portfoliolink.html" as portfoliolink %}
{% import "headelements/creditsmsg.html" as creditsmsg %}
{% import "headelements/subtopics.html" as subtopics %}

<header class="ui center aligned middle aligned stackable grid segment">

  {% include "headelements/sidebarlink.html" %}

  <div class="ui five wide column">
    <h2> {{lo.title}} </h2>
  </div>

  <div class="ui two wide column">
    {% if iswall %}
      {{ topics.topics ("index.html") }}
    {% elif (lo.lotype == 'course') and lo.parent %}
      {{ portfoliolink.portfoliolink ("../index.html", "Programme") }}
    {% elif (lo.lotype == 'topic') and (lo.parent.lotype == 'topic') %}
      {{ subtopics.subtopics ("../index.html") }}
    {% elif (lo.lotype == 'topic') %}
      {{ topics.topics ("../index.html") }}
    {% elif (lo.lotype == 'portfolio') %}
    {% else %}
    {% endif %}
  </div>

  <div class="ui five wide column">
    {{ creditsmsg.creditsmsg(lo.credits) }}
  </div>
  <div class="four wide column">
    {% if lo.lotype == 'course' %}
      {{ walllinks.walllinks (lo) }}
    {% endif %}
  </div>

</header>

{{ gittersidecar.gittersidecar(lo.gitterid) }}

{% endmacro %}
