{% macro portfoliolink(link, portfolioTitle) %}
  <div class="two wide column sitemap">
    <div class="popup" data-content="To the Portfolio the module is a member of...">
      <a href="{{ link }}"> <i class="huge grid layout icon"></i> <br> {{ portfolioTitle }} </a>
    </div>
  </div>
{% endmacro %}