{% macro programmelink(link, programmeTitle) %}
  <div class="two wide column sitemap">
    <div class="popup" data-content="To the Programm home...">
      <a href="{{ link }}"> <i class="huge grid layout icon"></i> <br> {{ programmeTitle }} </a>
    </div>
  </div>
{% endmacro %}