{% macro walllinks(walls, prefix) %}
  <div class="ui equal width center aligned grid segment">
    {% for wall in walls %}
      {% if wall.los.length > 0 %}
        <div class="column">
          {% set wallName =  wall.los[0].lotype %}
          {% if (wallName == 'panelvideo') %}
            {% set wallName = 'video' %}
          {% endif %}
          {% if (wallName == 'talk') %}
            {% set wallName = 'slide' %}
          {% endif %}
          <div class="popup" data-content="All {{ wallName}}'s in module">
            <a href="{{ prefix }}{{ wall.los[0].lotype }}wall.html"> <i class="big {{ wall.los[0].icon }} icon"></i> </a>
            <div class="ui blue mini circular label">
              {{ wall.los.length }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}