{% macro walllinks(walls) %}
  <div class="ui equal width grid">
    {% for wall in walls %}
      {% if wall.los.length > 0 %}
        <div class="column">
          <div class="popup" data-content="All {{ wall.los[0].lotype }}'s in Course">
            <a href="{{ wall.los[0].lotype }}wall.html"> <i class="large {{ wall.los[0].icon }} icon"></i> </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}