{% from "headelements/walllink.njk" import walllink %}

{% macro walllinks(walls) %}
  <div class="ui equal width grid">
    {% for wall in walls %}
      {{ walllink(wall) }}
    {% endfor %}
  </div>
{% endmacro %}