{% macro walllinks(talks, labs, videos, repos) %}
<div class="ui two column grid">
  <div class="ui eight wide column">
    <div class="row">
      <div class="popup" data-content="All Slides in Course">
        <a href="{{talks}}"> <i class="large object group icon"></i> All Slides </a>
      </div>
    </div>
    <div class="row">
      <div class="popup" data-content="All Labs in Course">
        <a href="{{labs}}"> <i class="large lab icon"></i> All Labs </a>
      </div>
    </div>
  </div>
  <div class="ui eight wide column">
    <div class="row">
      <div class="popup" data-content="All Videos in Course">
        <a href="{{videos}}"> <i class="large film icon"></i> All Videos </a>
      </div>
    </div>
    <div class="row">
      <div class="popup" data-content="All Repos in Course">
        <a href="{{repos}}"> <i class="large git icon"></i> All Repos </a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}