{% raw %}

code
{
  font-family: "Monaco";
  font-size: 110%;
}

img
{
  padding:1px;
  border:1px solid black;
}

h1
{
  font-style:italic;
  font-size:130%;
  border-bottom:thin solid black;
}

h2
{
  font-size:110%;
  border-bottom: thin solid black;
}

h3
{
  font-size:100%;
  border-bottom: thin solid black;
}

body
{
  overflow-y: scroll;
}

.pushable > .pusher
{
  padding-bottom: 1.5rem;
}

.ui.segment.pushable
{
  margin: 0;
  padding: 1rem 0;
  overflow: visible;
}

{% endraw %}
